// misc form elements
//
// ------------------------------------------------------------------


// ------------------------------------
// details & summary
// ------------------------------------
details
	// @nrml: Add the correct display in Edge, IE, and Firefox.
	display: block

summary
	// @nrml: Add the correct display in all browsers.
	display: list-item


// ------------------------------------
// fieldset & legend
// ------------------------------------
fieldset
	// @nrml: Correct the padding in Firefox.
	padding: vr(-1)

legend
	// @nrml: Correct the color inheritance from `fieldset` elements in IE.
	color: inherit
	// @nrml: Remove the padding so developers are not caught out when
	// they zero out `fieldset` elements in all browsers.
	padding: 0
	// @nrml: Correct the text wrapping in Edge and IE. ---
	box-sizing: border-box
	display: table
	max-width: 100%
	white-space: normal
	// ---


// ------------------------------------
// select & optgroup
// ------------------------------------
select,
optgroup
	// @nrml: Remove the margin in Firefox and Safari.
	margin: 0
	// @nrml: Change the font styles in all browsers. ---
	font-family: inherit
	font-size: 100%
	line-height: vr(base)

select
	// @nrml: Remove the inheritance of text transform in Firefox.
	text-transform: none


// ------------------------------------
// progress & menu
// ------------------------------------
progress
	// @nrml: Add the correct display in IE 9-.
	display: inline-block
	// @nrml: Add the correct vertical alignment in Chrome, Firefox, and Opera.
	vertical-align: baseline

menu
	// @nrml: Add the correct display in IE 9-.
	display: block
