// base styles for commonly styled typography elements
//
// ------------------------------------------------------------------


html
	// @nrml: Change the default font family in all browsers (opinionated).
	font-family: $font_stack_body
	// @nrml: Correct the line height in all browsers.
	line-height: vr(base)
	// @nrml: Prevent adjustments of font size
	// after orientation changes in iOS.
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%


body
	font-size: $base_font_size


p
	margin: 0 0 vr(-1)
	padding: 0


// ------------------------------------
// links
// ------------------------------------
a
	// @nrml: Remove the gray background on active links in IE 10.
	background-color: transparent
	// @nrml: Remove gaps in links underline in iOS 8+ and Safari 8+.
	-webkit-text-decoration-skip: objects
	color: $cl_link

	&:hover
		color: $cl_link_hover


// ------------------------------------
// lists
// ------------------------------------
ol,
ul
	padding: 0 0 0 $base_indent_amount

	ol,
	ul
		// @nrml: Turn off margins on nested lists.
		margin: 0

// ------------------------------------
// blockquote
// ------------------------------------
blockquote
	margin: vr(-1) $base_indent_amount
