
@mixin flex-grid
	display: flex
	justify-content: space-between

.container-susy
	@include container()
	padding: 2em
	background-color: lemonchiffon


.header-susy
	@include flex-grid
	align-items: baseline
	margin-bottom: gutter()

.col-1
	width: span(3)
	background-color: hotpink
	padding: 3em 2em


.col-2
	width: span(6)
	margin-left: span(1) + gutter()
	padding: 2em
	background-color: lightsteelblue


.col-3
	width: span(2)
	padding: 2em
	background-color: lightsteelblue


.main-susy
	@include flex-grid
	height: 40em


.main__col-1
	width: span(9)
	background-color: burlywood


.main__col-2
	width: span(3)
	background-color: darken(burlywood, 10%)
	padding: 2em


.blocks
	display: flex
	margin-bottom: gutter(9)
	li
		width: span(4 of 9)
		height: 10em
		padding: 2em
		background-color: darken(burlywood, 10%)
		margin-right: gutter(9)
		&:first-child
			background-color: darken(burlywood, 20%)

		&:nth-child(3n)
			width: span(1 of 9)
			margin-right: 0

