@charset 'utf-8'

// Project Settings
// @import settings

// Utilities/Vendors/Tools
// @import ../../node_modules/luscious-sass/luscious

// ------------------------------------------------------------------


// ------------------------------------
// Utils
// ------------------------------------
=info_text_element($val, $position: 'after')
	$side: left
	@if $position == 'before'
		$side: right
	&::#{$position}
		content: $val
		color: transparentize(red, .8)
		background: transparentize(white, .4)
		margin-#{$side}: .2em
		@content


=info_layout_element($val, $border: null, $position: 'before')
	@if $border
		outline: 1px solid transparentize(red, .1)
	&::#{$position}
		content: $val
		color: transparentize(white, .1)
		background: transparentize(red, .1)
		position: absolute
		@content



// ------------------------------------


// ------------------------------------
// Text Elements
// ------------------------------------
h1
	+info_text_element('<h1>')
h2
	+info_text_element('<h2>')
h3
	+info_text_element('<h3>')
h4
	+info_text_element('<h4>')
h5
	+info_text_element('<h5>')
h6
	+info_text_element('<h6>')

p
	+info_text_element('<p>')
p.o-intro
	+info_text_element('<p class="o-intro">')

caption
	+info_text_element('<caption>')

// ------------------------------------
// Layout Elements
// ------------------------------------
// body
// 	+info_layout_element('<body>')
// header
// 	+info_layout_element('<header>')
// nav
// 	+info_layout_element('<nav>')
// main
// 	+info_layout_element('<main>')
// article
// 	+info_layout_element('<article>')
// section
// 	+info_layout_element('<section>')
// blockquote
// 	+info_layout_element('<blockquote>')
// footer
// 	+info_layout_element('<footer>')
// table
// 	+info_layout_element('<table>')

// ------------------------------------
// Media Elements
// ------------------------------------
// figure
	+info_layout_element('<figure>')

// ------------------------------------
// Form Elements
// ------------------------------------
legend
	+info_text_element('<legend>')
label
	+info_text_element('<label>')
