// Luscious
// @since vX
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================
// TODO: Add info and tests helpers



// ------------------------------------
// Text Alignment Classes
// ------------------------------------

// ----------------
// Info
// ----------------
$info_text_alignment: info-log(
	'Need to add info about the text alignment outputs and utility classes.'
);


@mixin __info_text_alignment {
	@debug $info_text_alignment;
}


// ----------------
// Mixins
// ----------------
// Align Left
@mixin t-left($info: null) {
	@if $info { @debug $info_text_alignment; }
	@else {
		text-align: left;
	}
}

// Align Left-Justify
@mixin t-left--justify($info: null) {
	@if $info { @debug $info_text_alignment; }
	@else {
		text-align: justify;
		direction: ltr;
	}
}

// Align Right
@mixin t-right($info: null) {
	@if $info { @debug $info_text_alignment; }
	@else {
		text-align: right;
	}
}

// Align Right-Justify
@mixin t-right--justify($info: null) {
	@if $info { @debug $info_text_alignment; }
	@else {
		text-align: justify;
		direction: rtl;
	}
}

// Align Center
@mixin t-center($info: null) {
	@if $info { @debug $info_text_alignment; }
	@else {
		text-align: center;
	}
}

// Align Center-Justify
@mixin t-center--justify($info: null) {
	@if $info { @debug $info_text_alignment; }
	@else {
		text-align: justify;
		text-align-last: center
		// 2DO-LUS: Check on browser support
	}
}



// ------------------------------------
// Image Alignment Classes
// ------------------------------------

// ----------------
// Info
// ----------------
$info_text_alignment: info-log(
	'Need to add info about the image alignment outputs and utility classes.
	Include note about adding `+container` to <main>.'
);

@mixin __info_img_alignment {
	@debug $info_text_alignment;
}


// ----------------
// Mixins
// ----------------

// Img Left
@mixin img-left($info: null, $margin: r(10)) {
	// TODO: Add error handler to make sure margin is not unitless
	@if $info { @debug $info_text_alignment; }
	@else {
		float: left;
		margin-right: $margin;
	}
}

// Img Right
@mixin img-right($info: null, $margin: r(10)) {
	// TODO: Add error handler to make sure margin is not unitless
	@if $info { @debug $info_text_alignment; }
	@else {
		float: right;
		margin-left: $margin;
	}
}

// Img Center
@mixin img-center($info: null) {
	// TODO: Add error handler to make sure margin is not unitless
	@if $info { @debug $info_text_alignment; }
	@else {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
