// Luscious
// @since v0.0.1
//
// Helper Mixins for font maps, function for font weights maps, utility classes
//
// sass-lint:disable class-name-format
// ===================================================================


// Info for Font-stacks
$info_font_stacks: info-log(
	'By default, luscious has sans-serif, serif, and mono font stacks available.
	These can be called using the varibles:
	$font_stack_sans, $font_stack_serif, and $font_stack_mono.
	The fonts in the stacks include:
	Sans-Serif:
	#{$font_stack_sans}
	Serif:
	#{$font_stack_serif}
	Mono:
	#{$font_stack_mono}'
);

@mixin __info_font_stacks {
	@debug $info_font_stacks;
}



// ===================================================================
// Tests
// ===================================================================

@mixin __test_font_stacks {
	@if $output_test_message { @debug "[TESTING] `font_stacks`"; }
	/* `font_stacks` -------------------- */
	/*
	.test.font_stack_sans  {
		font-family: $font_stack_sans;
	}
	*/
	.test.font_stack_sans  { font-family: $font_stack_sans;  }
	.test.font_stack_serif { font-family: $font_stack_serif; }
	.test.font_stack_mono  { font-family: $font_stack_mono;  }
	/* end `font_stacks` ---------------- */
}
