// Luscious
// @since v0.0.1
//
// Image/Font Path Function
//
// sass-lint:disable no-css-comments
// ===================================================================


// Images
$info-img: info-log(
	'The `img` function creates an `asset-path` to
	make it easier to insert images in your SASS.
	Type  :  Function
	Params:
	- $file:      Required. Enter the file name including extension in quotes.
	- $base_path: Optional. Defaults to `$img_base_path` set in the config file.
	-             $img_base_path == `#{$img_base_path}`
	Alias:        `image`'
);


@mixin __info_img {
	@debug $info-img;
}


@function img($file, $base_path: $img_base_path) {
	@if $file == "info" { @debug $info-img; }
	@else {
		@return url($base_path + '/' + $file);
	}
}

// Alias
@mixin __info_image {
	@include __info_img;
}

@function image($file) {
	@return img($file);
}

// -------------------------------------

// Fonts
$info-font: info-log(
	'The `font` function creates an `asset-path` to
	make it easier to source fonts in your SASS.
	Type  :  Function
	Params:
	- $file:      Required. Enter the file name and extension from
	-             the `$font_base_path` in quotes.
	- $base_path: Optional. Defaults to `$font_base_path` set in the config file.
	-             $font_base_path == `#{$font_base_path}`'
);


@mixin __info_font {
	@debug $info-font;
}


@function font($file, $base_path: $font_base_path) {
	@if $file == "info" { @debug $info-font; }
	@else {
		@return url($base_path + '/' + $file);
	}
}



// ===================================================================
// Tests
// ===================================================================

@mixin __test_img {
	@if $output_test_message { @debug "[TESTING] `img`"; }
	/* `img` or `image` ----------------- */
	/*
	.test.img {
		background-image: img("test.jpg");
	}
	*/
	.test.img {
		background-image: img("test.jpg");
	}
	/* End `img` or `image` ------------- */
}

// Alias
@mixin __test_image {
	@include __test_img;
}


@mixin __test_font {
	@if $output_test_message { @debug "[TESTING] `font`"; }
	/* `font` --------------------------- */
	/*
	.test.font {
		src: font("test.otf");
	}
	*/
	.test.font {
		src: font("test.otf");
	}
	/* End `font` ----------------------- */
}
