// Luscious
// @since v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================
// 2DO-LUS: Review this mixin and make sure it works properly

$info_placeholder: info-log(
	'The `placeholder` mixin adds cross-browser support for
	placeholder elements. More info: `https://goo.gl/ZrdsAe`
	Type    : Standalone Mixin
	Params  : none
	Required: Content Block'
);

@mixin __info_placeholder {
	@debug $info_placeholder;
}

@mixin placeholder($info: null) {
	@if $info { @debug $info_placeholder; }
	@else {
		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder {
			@content;
		}
	}
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_placeholder {
	@if $output_test_message { @debug "[TESTING] `placeholder`"; }
	/* `placeholder` -------------------- */
	/*
	@include placeholder {
		color: red;
	}
	*/
	@include placeholder {
		color: red;
	}
	/* End `placeholder` ---------------- */
}
