// Luscious
// @since v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================


// From Bootstrap 5
// https://git.io/v7ZN0

$info_size: info-log(
	'The `size` mixin is a shorthand for declaring width/height properties.
	More info see `https://git.io/v7ZN0`.
	Type  : Included Mixin
	Params:
	- $width:  Required. Accepts any value.
	- $height: Optional. Defaults to $width to create a square.
	Related:   `square` mixin. A size mixin that
	-          only accepts the first parameter.'
);

@mixin __info_size {
	@debug $info_size;
}

@mixin size($width, $height: $width) {
	@if $width == "info" { @debug $info_size; }
	@else {
		width: $width;
		height: $height;
	}
}

// -------------------------------------

// Square

$info_square: info-log(
	'The `square` mixin is a shorthand for declaring width/height properties.
	More info see `https://git.io/v7ZN0`.
	Type  : Included Mixin
	Params:
	- $size:  Required. Accepts any value. Applies $size to width and height.
	Related:  `size` mixin. Try `__info(size)` for info about the mixin.'
);

@mixin __info_square {
	@debug $info_square;
}
@mixin square($size) {
	@if $size == "info" { @debug $info_square; }
	@else { @include size($size, $size); }
}



// ===================================================================
// Tests
// ===================================================================

@mixin __test_size {
	@if $output_test_message { @debug "[TESTING] `size`"; }
	/* `size` --------------------------- */
	/*
	.test.size.first_param {
		@include size(10px);
	}
	*/
	.test.size.first_param {
		@include size(10px);
	}
	/*
	.test.size.both_param {
		@include size(10px, 20px);
	}
	*/
	.test.size.both_param {
		@include size(10px, 20px);
	}
	/* End `size` ----------------------- */
}


@mixin __test_square {
	@if $output_test_message { @debug "[TESTING] `square`"; }
	/* `square` ------------------------- */
	/*
	.test.square {
		@include square(20px);
	}
	*/
	.test.square {
		@include square(20px);
	}
	/* End `square` --------------------- */
}
