// Button Styles
//
// ------------------------------------------------------------------


// 2DO-YG: REVIEW: Opinionated Reset
// button
	border: 0
	border-radius: 0
	outline: none
	appearance: none

	&:hover,
	&:active,
	&:focus
		outline: none

// ----------------

// From normalize
button
	// @nrml: Remove the margin in Firefox and Safari.
	margin: 0
	// @nrml: Change the font styles in all browsers. ---
	font-family: inherit
	font-size: 100%
	line-height: vr(base)


button
	// @nrml: Remove the margin in Firefox and Safari.
	margin: 0
	// @nrml: Change the font styles in all browsers. ---
	font-family: inherit
	font-size: 100%
	line-height: vr(base)
	// @nrml: Show the overflow in Edge.
	overflow: visible
	// @nrml: Remove the inheritance of text transform in Edge/Firefox/IE.
	text-transform: none

// ----------------

button,
// Prevent a WebKit bug where (2) destroys native
// `audio` and `video` controls in Android 4.
html [type="button"],
[type="reset"],
[type="submit"]
	// @nrml: Correct the inability to style clickable types in iOS & Safari.
	-webkit-appearance: button

// ----------------

button,
[type="button"],
[type="reset"],
[type="submit"]
	&::-moz-focus-inner
		// @nrml: Remove the inner border and padding in Firefox.
		border-style: none
		padding: 0

	&:-moz-focusring
		// @nrml: Restore the focus styles unset by the previous rule.
		outline: r(1px) dotted ButtonText

// ----------------

::-webkit-file-upload-button
	// @nrml: Correct the inability to style clickable types in iOS & Safari.
	-webkit-appearance: button
	// @nrml: Change font properties to `inherit` in Safari.
	font: inherit
