//- Site Home Page
//- -----------------------------------------------------------------

extends /partials/_base

block vars
	- var metaDescription = PGHOME.meta.description;
	- var metaKeywords = PGHOME.meta.keywords;
	- var bodyClass = 'page--home';

block title
	title !{SITE.meta.title} | !{PGHOME.meta.title}


//- -----------------------------------
//- Page Main-Content Starts Here
//- -----------------------------------
block content
	//- Feel free to remove everything below this
	//- and start doing your own thing.

	h1 #{PGHOME.title}!
		//- If you're not using gulp-data, You can remove these variables

	h2 #{PGHOME.subtitle}

	p #{PGHOME.description}


	img(src='images/gulp.svg', alt='Gulp Logo')
	img(src='images/sass.svg', alt='Sass Logo')
	img(src='images/pug.svg', alt='Pug Logo')
	img(src='images/yarn.svg', alt='Yarn Logo')

	hr

	h2 To test out some html tags, try:

	ul
		li: a(href='./demo-text.html') Text Elements
		li: a(href='./demo-forms.html') Form Elements
		li: a(href='./demo-media.html') Media Elements
		// Test Susy 3
		li: a(href='./demo-susy.html') Susy3 Test
